.git
.github
.venv
.env
.env.*
!.env.example

**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.coverage

python-bot/.venv/
python-bot/.pytest_cache/
python-bot/.coverage

go-engine/vendor/
go-engine/tmp/

tmp/
postgres_data/
redis_data/
